@media (max-width:575.99px) {
    .section-h1 {
        font-size: 45px;
    }
    .section-h2 {
        font-size: 35px;
    }
    .gap {
        margin: 40px 0;
    }
    /* featured part start */
    .featured-card .inner-card img{
        width: 50%;
    }
    /* featured part end */
    .card-box-1 .card .img-1 {
        top: -11%;
        left: -2%;
    }
}
@media (min-width:576px) and (max-width:767.99px) {
    .gap {
        margin: 45px 0;
    }
    .section-h1 {
        font-size: 45px;
    }
    .section-h2 {
        font-size: 35px;
    }
    /* featured part start */
    .featured-card .inner-card img{
        width: 50%;
    }
    /* featured part end */
    .card-box-1 .card .img-1 {
        top: -11%;
        left: -2%;
    }
}
@media (min-width:768px) and (max-width:991.99px) {
    .gap {
        margin: 50px 0;
    }
    .section-h1 {
        font-size: 45px;
    }
    .section-h2 {
        font-size: 35px;
    }
}
@media (min-width:992px) and (max-width:1199.99px) {
    .section-h1 {
        font-size: 60px;
    }
    .section-h2 {
        font-size: 40px;
    }
}
@media (min-width:1200px) {
    .section-h1 {
        font-size: 65px;
    }
    .banner-text {
        width: 500px;
        max-width: 100%;
    }
}

/*  */
