@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
    font-family: "Manrope", sans-serif;
}
/* common css start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing:border-box;
}
.section-h1{
    font-size: 65px;

}
.section-h2{
    font-size: 40px;
    text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
p{
    margin-bottom: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration:none
}
.gap{
    margin: 100px 0;
}
.img-fluid{
    max-width: 100%;
    height: 100%;
}
.container{
    border: 1px solid red;
}
.btn-color{
    background: linear-gradient(to right ,#FF8938, #FF0000);
}
.btn-color-1{
    background-color: rgba(0, 0, 0, 0.37);
}
.overly-btn{
    background: linear-gradient(to right, #FF8938 , #FF0000);
    background-clip: text;
    color: transparent;
}
.common-btn{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 18px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right ,#FF8938, #FF0000);
    text-transform: capitalize;
}
.freshly-linear{
   background: linear-gradient(to right, #D9D9D9 , #FFFFFF);
}
/* common css end */
/* banner part start */
.banner-image .overly {
	left: 18%;
	bottom: 0%;
}
.banner-text{
    width: 450px;
    max-width: 100%;
}
/* banner part end */
/* featured part start */
.featured-heading{
    width: 800px;
    max-width: 100%;
}
.featured-card .inner-card img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}
/* featured part end */
/* freshly part start */
.freshly-image .image-1 .card img{
    width: 85%;
    height: 75%;
    object-fit: contain;
}
/* freshly part end */
/* client part start */
.client-cup .img{
   max-width: 255px; 
}
.client-cup .img img{
    width: 100%;
}
.client-card .card .img-1 {
	width: 70px;
	height: 70px;
	background-color: rgb(255, 255, 255);
	top: -12%;
	left: -6%;
}
/* client part end */