@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
    font-family: "Manrope", sans-serif;
}
/* common css start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing:border-box;
}
.section-h1{
    font-size: 70px;
}
.section-h2{
    font-size: 45px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
p{
    margin-bottom: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration:none
}
.img-fluid{
    max-width: 100%;
    height: 100%;
}
.container{
    border: 1px solid red;
}
.btn-color{
    background: linear-gradient(to right ,#FF8938, #FF0000);
}
.common-btn{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 18px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right ,#FF8938, #FF0000);
    text-transform: capitalize;
}
/* common css end */
/* banner part start */
.banner-image .overly {
	left: 18%;
	bottom: 0%;
}
.banner-text{
    width: 500px;
    max-width: 100%;
}
/* banner part end */